a {
  color: #008ACF;
  font-weight: 300;
  text-decoration: none;
}

header {
  padding: 1em;
  font-size: 2em;
  background-color:#008ACF;
  color: #f0f0f0;
}
header a {
  color: inherit;
  font-weight: inherit;
}
header .filter-box {
  margin-left: 2em;
  width: 50%;
  padding: .3em .5em;
  border: none;
  border-radius: 5px;
}
article {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: .5em .5em 0 .5em;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  width: 22%;
  vertical-align: top;
}
article:hover {
  background-color: #fefefe;
  border-color: #aaa;
  box-shadow: 0px 0px 3px #ccc;
}

article .name {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 1em .5em 1em;
  border-bottom: 1px solid #ccc;
}
article .content {
  padding: .5em 28% .5em .5em;
  position: relative;
  min-height: 160px;
}
aside {
  position: absolute;
  top: 0;
  bottom: .5em;
  right: 0;
  width: 22%;
  padding: .5em .5em 0 .5em;
  border-left: 1px solid #ccc;
}

article .content > div {
  margin-bottom: .5em;
}
article .content .download input {
  width: 85%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #eee;
  padding: .2em .4em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.text-light {
  font-weight: 300;
}
.text-smaller {
  font-size: .8em;
}
.text-bigger {
  font-size: 1.1em;
}
.link,
.button-link {
  vertical-align: sub;
  color: #008ACF;
}
.not-a-real-link {
  vertical-align: sub;
  color: #333;
}
.link svg,
.not-a-real-link svg,
.button-link svg {
  font-size: inherit;
  vertical-align: inherit;
  color: inherit;
  margin: 0 .2em;
}
.button-link {
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
}

.mutation {
  bottom: .5em;
  position:absolute;
  width: 90%;
  text-align: center;
}

.badge {
  margin: 0 .2em;
  padding: 0 .5em;
  border-radius: .5em;
}
.badge.resource {
  background-color: #F5C2C7;
  border: 1px solid #DC3545;
}
.badge.keyword  {
  background-color: #FFECB5;
  border: 1px solid #FFC107;
}

mark {
  background-color: #30BA78;
  color: #fff;
}

button {
  position: relative;
}
.inline-but-absolute-message {
  position: absolute;
  top: 0px;
  width: 50px;
  left: -60px;
  background-color: #0C322C;
  color: #fff;
  padding: .2em .4em;
  font-weight: 600;
}