.Hub {
  text-align: center;
}

.Hub-header {
  padding: 1em;
  font-size: 2em;
}

.link {
  color: #00a2ff;
}

.policy-item {
  text-align: left;
  display: inline-block;
  padding: 2em;
  border: 1px solid #aaa;
  margin: 1em;
  width: 25%;
  vertical-align: top;
}

.policy-item h3 {
  text-align: center;
}

.policy-item > label {
  font-size: .9em;
  margin-right: .5em;
  color: #666;
}