@font-face {
  font-family: 'Recursive Light';
  src: url('./fonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Recursive';
  src: url('./fonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Recursive Bold';
  src: url('./fonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis/Dosis-VariableFont_wght.ttf') format('woff2');
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-size: inherit;
  font-family: inherit;
}

body {
  background-color: #eee;
  overflow: auto;
  color: #333;
  font-family: 'Recursive';
  font-size: 1em;
}