* {
  box-sizing: border-box;
  padding: 0;
  font-size: 1em;
  margin: 0 auto;
  font-family: 'Cantarell';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #eee;
  overflow: auto;
  color: #333;
}